:root {
  --primar-color: #f2f4ff;
  --bg-color: #fafafa;
  --secondary-text: #7b7b7b;
  --borders-color: #efefef;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);
}

.page {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 100vw;
  max-width: 1700px;
}